*{
    font-family: Avenir,sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.conteneur{
    width: 90%;
    margin: 10px;
    border: 2px dashed black;
}
.conteneur-flex{
    display: flex;
    flex-flow: row wrap;
    margin: -10px;
    
}
.conteneur-flex>div{
    flex: 0 0 25%;
    padding: 20px 0px;
    margin: 10px;
    background-color: gold;
    border: 2px solid rgb(120, 40, 160);
}